@inject IHttpContextAccessor context;
@using Newtonsoft.Json
@model Quiz

@{
    var currentUser = context.HttpContext.Session.GetString("currentUser");
    User obj = JsonConvert.DeserializeObject<User>(currentUser);
}
<section style="  display: flex; justify-content: center; align-items: center;">

    <div style="background-color: rgba(255, 255, 255, 0.7); padding: 60px; border-radius: 10px;width:500px">
        <h2 style="text-align: center; color: rgb(116, 40, 188);">Create a Quiz</h2>
        <form method="post" asp-action="Create">
            <div class="mb-3">
                <label asp-for="QuizName" class="form-label">Quiz Name</label>
                <input asp-for="QuizName" type="text" class="form-control" id="QuizName">
                <span asp-validation-for="QuizName" class="text-danger">Enter your Quiz Name</span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" type="text" class="form-control" id="Description">
                <span asp-validation-for="Description" class="text-danger">Enter your Description</span>
            </div>
            <div class="mb-3">
                <label asp-for="DurationMinutes" class="form-label">Duration Minutes</label>
                <input asp-for="DurationMinutes" type="number" class="form-control" id="DurationMinutes">
                <span asp-validation-for="DurationMinutes" class="text-danger">Enter your Duration Minutes</span>
            </div>
            <div class="mb-3">
                <label asp-for="NbrQuestion" class="form-label">Number of Questions</label>
                <input asp-for="NbrQuestion" type="number" class="form-control" id="NbrQuestion">
                <span asp-validation-for="NbrQuestion" class="text-danger">Enter your Number of Questions</span>
            </div>

            <button type="submit" class="btn btnQS btn-primary">Submit</button>
        </form>
    </div>
</section>
<style>
    body {
        background-color: ghostwhite;
    }

    .btnQS {
        width: 380px;
        margin-left:auto;
        margin-right:auto;
        background-color: rgb(116, 40, 188) !important;
    }

        .btnQS:hover {
            background-color: rgb(101, 33, 165) !important;
        }
    
</style>