@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section CustomStyles{<style>body{background-color:gainsboro}

                              input::placeholder {
                                  
                                  font-style: italic; 
                                  font-size: 14px; 
                                  text-align:center;
                              }

                              input {
                                  font-style: italic;
                                  font-size: 14px;
                                  text-align: center;
                              }
</style>}
<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="post" asp-action="Index">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.ErrorMessage 
            <a asp-controller="User" asp-action="Registrer" type="button" class="btn btn-sm btn-outline-secondary">Register</a>
        </div>

    }
                        <h3 class="mb-5">Sign in</h3>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label asp-for="Username" class="form-label">UserName</label>
                                <input placeholder="Please write your username." asp-for="Username" type="text" class="form-control form-control-lg" id="Username">
                            
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label asp-for="Password" class="form-label">Password</label>
                                <input placeholder="Please write your password." asp-for="Password" type="password" class="form-control form-control-lg" id="password">
                                <input type="checkbox" id="showPassword"> Show Password
                        </div>


                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary " type="submit">Login</button>
                            <a asp-controller="User" asp-action="Registrer" type="button" class="btn btn-secondary" data-mdb-ripple-init>Register</a>

                        <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var passwordInput = document.getElementById("password");
    var showPasswordCheckbox = document.getElementById("showPassword");

    showPasswordCheckbox.addEventListener("change", function () {
        if (showPasswordCheckbox.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });</script>